.bombilla {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
}
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.off {
  background-color: black;
}
