.image{
    width: 286px;
    height: 180;
}
.container{
    margin-top: 3em;
    border:1px solid grey;
   width: 286px;
}
.container-informacion{
    margin-top: -30px;
    padding: 22px;
}
.boton{
    background-color: blue;
    color: white;
    padding: 8px 60px;
    border-radius: 4px;
    text-decoration: none;
}