.form {
    display: flex;
    flex-direction: column;
}
.formSpacing{
    margin-bottom: 32px;
}
.field{
    margin-bottom: 8px;
    padding: 8px 4px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}
.label{
    font-size: 14px;
    margin-bottom: 8px;
}
.button{
    font-size: 16px;
    padding: 12px 6px;
    background-color: darkcyan;
    border-radius: 4px;
    border: 0;
    color: white;
}